<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>	
	<meta charset="ISO-8859-1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>	
	<link rel="stylesheet" type="text/css" href="../static/libraries/estilo.css" th:href="@{/libraries/estilo.css}"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<title>SisMat</title>
</head>
<body class="background-patron">
	<header>
		<div class="row">
			<nav class="top-nav light-blue darken-4"  style="height: 70px">
				<div class="col l10 m12 s12 offset-l2">
					<div class="container">
						<div class="nav-wrapper center-align">					
							<a class="brand-logo" style="font-size: 28pt;" th:href="@{/}">SisMat</a>
						</div>				
					</div>	
					<div class="container">
						<a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
					</div>	
				</div>	
			</nav>
		</div>
		
		<ul id="nav-mobile" class="side-nav fixed">
			<li class="logo">
				<div class="container center-align" style="padding-top: 60px; padding-bottom: 60px;">
					<i id="logo-container" class="material-icons logo-sidenav" >library_books</i>
				</div>				
			</li>
			<li class="no-padding">
				<ul class="collapsible collapsible-acordion">
					<li class="bold">
						<a class="collapsible-header waves-effect waves-teal">Carrera</a>
						<div class="collapsible-body">
							<ul>
								<li><a th:href="@{/carrera/nuevo}" >Registrar</a></li>
								<li><a th:href="@{/carrera}">Modificar</a></li>
							</ul>
						</div>
					</li>
					<li class="bold">
						<a class="collapsible-header waves-effect waves-teal">Curso</a>
						<div class="collapsible-body">
							<ul>
								<li><a th:href="@{/curso/nuevo}">Registrar</a></li>
								<li><a th:href="@{/curso}">Modificar</a></li>
							</ul>
						</div>
					</li>
					<li class="bold">
						<a class="collapsible-header waves-effect waves-teal">Alumno</a>
						<div class="collapsible-body">
							<ul>
								<li><a th:href="@{/alumno/nuevo}">Registrar</a></li>
								<li><a th:href="@{/alumno}">Modificar</a></li>
							</ul>
						</div>
					</li>
					<li class="bold">
						<a class="collapsible-header waves-effect waves-teal">Docente</a>
						<div class="collapsible-body">
							<ul>
								<li><a th:href="@{/docente/nuevo}">Registrar</a></li>
								<li><a th:href="@{/docente}">Modificar</a></li>
							</ul>
						</div>
					</li>
					<li class="bold">
						<a class="collapsible-header waves-effect waves-teal">Seccion</a>
						<div class="collapsible-body">
							<ul>
								<li><a th:href="@{/seccion/nuevo}">Registrar</a></li>
								<li><a th:href="@{/seccion}">Modificar</a></li>
							</ul>
						</div>
					</li>				
					<li class="bold">
						<a class="collapsible-header waves-effect waves-teal">Matricula</a>
						<div class="collapsible-body">
							<ul>
								<li><a th:href="@{/matricula/nuevo}">Registrar</a></li>
								<li><a th:href="@{/matricula}">Modificar</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>		
	</header>

	<div class="row">
		<div class="col l10 m12 s12 offset-l2">
			<div class="container">
				<div>
					<form th:action="@{/alumno/nuevo/guardar}" method="post" th:object="${alumno}">
						<div class="row">
							<div class="input-field col s12 m10 l10">
								<input type="text" name="nombrealumno" id="nombrealumno" th:field="*{nombrealumno}" class="validate"/>
								<label for="nombrealumno">Nombre del Alumno</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<select th:field="*{carrera.id}">
									<option th:each="c : ${carreras}" th:value="${c.id}" th:text="${c.nombrecarrera}"></option>
								</select>
								<label>Carrera</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input type="text" name="ulogin" id="ulogin" th:field="*{usuario.ulogin}" class="validate" maxlength="6"/>
								<label for="ulogin">Usuario del Alumno</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input type="password" name="upassword" id="upassword" th:field="*{usuario.upassword}" class="validate" maxlength="16" />
								<label for="upassword">Contrasena del Alumno</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 right-align">
								<button class="btn waves-effect waves-light" type="submit" name="action">
									Guardar <i class="material-icons right">system_update_alt</i>
							    </button>
							</div>
						</div>
					</form>
					<h3 th:text="${mensajeerror}"></h3>
				</div>
			</div> 
		</div>
	</div>
	<script type="text/javascript">

		$(document).ready(function(){
    		$('.collapsible').collapsible();
    		$('select').material_select();
  		});

		$(".button-collapse").sideNav();
	
	</script>
	
	
</body>
</html>